<div class="container-fluid">


<%= render :partial => 'partials/banner'%>

<%= render :partial => 'partials/philosophy' %>

<%= render :partial => 'partials/career' %>

<%= render :partial => 'partials/clickable' %>

<%= render :partial => 'partials/api' %>

<%= render :partial => 'partials/expression' %>

<%= render :partial => 'partials/link' %>


</div>
